@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.App {
  text-align: center;
}

.App-header {
  background-color: #e1e1e1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

h1 {
  color: #25528f;
}

.Block {
  width: 50%;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin: 0.3em;
}

.Radius {
  border-radius: 15px;
}

div.Space-Block {
  background-color: #ffb74d !important;
  height: 42px;
}

.Outer-Block-Container {
  padding: 0px 20px 20px 20px;
}

.Block-Inner-Container {
  width: 100%;
  display: flex;
  align-items: center;
}

input[type="text"],
textarea {
  background-color: #d1d1d1;
  border: none;
  text-align: center;
  font-size: 15px;
  color: white;
  height: 40px;
}

*:focus {
  outline: none;
}

.Green {
  background-color: #4caf50 !important;
}

.Next {
  background-color: #388e3c;
  padding: 10px 20px 10px 20px;
  border: none;
  color: white;
  margin-bottom: 15px;
}

.Win {
  height: 50px;
  width: 40%;
  padding: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
